@import models.golf.HoleTest
@(user: models.users.User, holes: List[HoleTest])

    @main("List Of Holes", user) {
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                    <!-- The header row-->
                <tr>
                    <th>ID</th>
                    <th>Hole Number</th>
                    <th>Par</th>
                    <th>Diff Index</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                    <!-- Start of For loop - For each p in products add a row -->
                @for(p <- holes) {
                    <tr>
                            <!-- Display each product field value in a column -->
                        <td>@p.id</td>
                        <td>@p.holeNumber</td>
                        <td>@p.par</td>
                        <td>@p.diffindex</td>
                        <td>@p.score</td>
                    </tr>
                }<!-- End of For loop -->
            </tbody>
        </table>
    }