@(products: List[models.Product])

    @main("Products Page") {
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                    <!-- The header row-->
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                    <!-- Start of For loop - For each p in products add a row -->
                @for(p <- products) {
                    <tr>
                            <!-- Display each product field value in a column -->
                        <td>@p.id</td>
                        <td>@p.name</td>
                        <td>@p.description</td>
                        <td>@p.category</td>
                        <td>@p.stock</td>
                        <td>@p.price</td>
                    </tr>
                }<!-- End of For loop -->
            </tbody>
        </table>
    }