@(user: models.users.User)
    @main("Index", user) {
        @if(flash.containsKey("success")) {
            <!--Flashes if player gets trained -->
            <h5 class="alert alert-success">@flash.get("success")</h5>
        }
        @if(flash.containsKey("error")) {
                <!--Flashes if players position gets trained -->
            <h5 class="alert alert-danger">@flash.get("error")</h5>
        }
        <div class="banner1">

            <h1>Welcome to Golf Handicap</h1>
            @if(user == null) {

                @*<a href="/login"><i class="fa fa-sign-in fa-2x "></i> Login</a>*@
                @*<a href="/register">Register<i class="fa fa-pencil fa-fw"></i></a>*@


                <li><a href="/login"><i class="fa fa-sign-in fa-2x"></i> Login</a>
                </li>
                <li><a href="/register"><i class="fa fa-pencil fa-fw"></i> Register</a>
                </li>


            }
            <h3>About this application</h3>
            <p>
                Golf Handicap is a FREE online handicap and statistics tracker to help you make the most out of your golf
                game
            </p>
            <p>
                Our Application gives you the ability to enter your handicap, and will automatically track and update your
                handicap as you play your rounds. We will also record the statistics for your rounds, and give you a real
                look at the state of your game!
            </p>

            <h4>Requirements to play Golf Handicap</h4>
            <p>
                All you need to make the most out of this application is to have a valid handicap issued by the GUI. However
                if you don't, we will give you the option to start at the maximum allowable handicap!
            </p>

            <h3>Rules of the game</h3>
            <p>
                By accessing Golf Handicap you agree to abide to the following rules.
                Failure to abide to these rules can result in your account being deleted, suspended,
                warned, or any other action that may be deemed appropriate.
            </p>
            <p>
                These rules are in place as a guideline, if you carry out an action that is deemed to give you an unfair advantage we
                will investigate this fully and appropriate consequences will be put in place.
            </p>
            <p>
        <ul>
            <li>You are only allowed to own ONE account on Golf Handicap regardless of which world it is in. </li>
            <li>Do not login to another account other than your own.</li>
            <li>Do not create an account with an abusive manager name.</li>
            <li>Do not exploit any technical bugs to gain an advantage. If you spot a Technical Issue you should CONTACT US HERE!.</li>

        </ul>
        </div>


    }
